<div class="input-group">
    
    <form method="get" action="~/home/index">
        <input type="text" class="form-control" name="search" placeholder="Search">
        <div class="input-group-append">
            <button class="btn btn-success" style="position:absolute;right:0px;top:1px" type="submit"> <span class="fa fa-filter"></span></button>
        </div>

    </form>
  
</div>